body {
    background: url('resources/wallpaper.jpg') center;
    background-size: cover;
}
h1 {
    text-align:center;
    color: orange;
}
h2 {
    text-align:center;
    color: orange;
}
h1.green {
    text-align:center;
    color: palegreen;
}

h1.black {
    text-align:center;
    color: black;
}

h2.green {
    text-align:center;
    color: palegreen;
}
div.sideelement {
    width: 30%;
    height: 100%;
}
div.fieldstyle {
    width: 70%;
    height: 100%;
}
div.sidetop {
    height: 30%;
}
div.sidebottom {
    height: 30%;
}
div.sidemiddle {
    height: 40%;
}
div.bbox {
    background-color: black;
    opacity: 0.7;
    width: 50%;
    height: 30%;

}
.roundSmall {
    width: 16px;
    height: 16px;

}
div.forText {
    height: 70%;
}
div.forBtn {
    height: 30%;
}
input.register {
    width: 30%;
}

table {
    border-collapse: collapse;
    display: inline-block;
}
table.inline {
    border-collapse: collapse;
    display: inline-block;
}

td {
    width: 15px;
    height: 15px;
    text-align: center;
    border: 1px solid black;
}

td.orange {
    background-color: darkorange;
}

td.SHIP {
    background-color: darkblue;
}

td.HIT {
    background-color: red;
}

td.MISS {
    background-color: aqua;
}